<div class="project-container">
  <mat-card class="project-card" *ngFor="let project of projects">
    <mat-card-title>
      {{ project.title }}
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-list>
      <mat-list-item *ngFor="let todo of project.todos" [class.todo-is-completed]=todo.isCompleted>
        <mat-checkbox [checked]=todo.isCompleted class="checkbox-default" (change)="completeTask(todo, project.id)"></mat-checkbox>
        {{ todo.text }}
      </mat-list-item>
    </mat-list>
  </mat-card>




  <!-- demo -->
  <mat-card class="project-card">
    <mat-card-title>
      Project Title
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-list>
      <mat-list-item>
        <mat-checkbox class="checkbox-default"></mat-checkbox>
        Pepper 
      </mat-list-item>
      <mat-list-item>
        <mat-checkbox class="checkbox-default"></mat-checkbox>
        Salt 
      </mat-list-item>
      <mat-list-item> Paprika </mat-list-item>
    </mat-list>
  </mat-card>
  <mat-card class="project-card">
    <mat-card-title>
      Project Title
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-list>
      <mat-list-item>
        <mat-checkbox class="checkbox-default"></mat-checkbox>
        Salt 
      </mat-list-item><mat-list-item>
        <mat-checkbox class="checkbox-default"></mat-checkbox>
        Salt 
      </mat-list-item><mat-list-item>
        <mat-checkbox class="checkbox-default"></mat-checkbox>
        Salt 
      </mat-list-item>
    </mat-list>
  </mat-card>
  <mat-card class="project-card">
    <mat-card-title>
      Project Title
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-list>
      <mat-list-item> Pepper </mat-list-item>
      <mat-list-item> Salt </mat-list-item>
      <mat-list-item> Salt </mat-list-item>
      <mat-list-item> Salt </mat-list-item>
      <mat-list-item> Paprika </mat-list-item>
    </mat-list>
  </mat-card>
  <mat-card class="project-card">
    <mat-card-title>
      Project Title
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-list>
      <mat-list-item> Pepper </mat-list-item>
      <mat-list-item> Salt </mat-list-item>
      <mat-list-item> Paprika </mat-list-item>
    </mat-list>
  </mat-card>
</div>