<div class="project-container">
  <div class="loader" *ngIf="(projects$ | async)?.length < 1">
    <mat-spinner></mat-spinner>
  </div>
  <mat-card class="project-card" *ngFor="let project of projects$ | async">
    <mat-card-title>
      {{ project.title }}
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-list>
      <mat-list-item class="list-item" *ngFor="let todo of project.todos" [class.todo-is-completed]=todo.isCompleted>
        <mat-checkbox [checked]=todo.isCompleted class="checkbox-default" (change)="toggleTaskComplete(todo)">
          <span class="check-box-label">
            {{ todo.text }}
          </span>
        </mat-checkbox>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>