<mat-card class="dialog-card">
  <mat-card-title>
    New task
  </mat-card-title>
  <mat-divider></mat-divider>
  <form [formGroup]="newTaskForm" (ngSubmit)="submit(newTaskForm.value)" class="form">
    
    <!-- Task title -->
    <mat-form-field class="form-element">
      <mat-label></mat-label>
      <input matInput placeholder="Task title..." formControlName="taskText">
      <mat-error *ngIf="hasError('taskText', 'required')">Can't be empty</mat-error>
      
    </mat-form-field>

    <!-- Project selector -->
    <mat-form-field class="form-element">
      <mat-label>Project</mat-label>
      <mat-select formControlName="project">
        <mat-option [value]="'New'"> New </mat-option>
        <mat-option *ngFor="let project of projects" [value]="project.title">
          {{ project.title }}
        </mat-option>
        <mat-error *ngIf="hasError('project', 'required')">Can't be empty</mat-error>
      </mat-select>
    </mat-form-field>

    <!-- Project title (new only) -->
    <mat-form-field class="form-element" *ngIf="newTaskForm.value.project=='New'">
      <mat-label></mat-label>
      <input matInput placeholder="Project title..." formControlName="newProjectTitle">
      <mat-error *ngIf="hasError('newProjectTitle', 'required')">Can't be empty</mat-error>
      <mat-error *ngIf="hasError('newProjectTitle', 'maxlength')">Maximum 156 symbols</mat-error>
      <mat-error *ngIf="hasError('newProjectTitle', 'pattern')">Can't be called New</mat-error>
    </mat-form-field>

    <!-- Buttons -->
    <mat-dialog-actions class="form-element">
      <button mat-button mat-dialog-close class="button">Cancel</button>
      <button mat-raised-button mat-dialog-close [disabled]="!newTaskForm.valid" color="primary" type="submit" class="button">Save</button>
    </mat-dialog-actions>
  </form>
</mat-card>